<div id="supportnavi">
	<ul>
		<li><%= link_to 'Add Educations', educations_path %></li>
		<li><%= link_to 'Add Skill-Sets', skills_path %></li>
		<li class="current"><%= link_to 'Add Trainings', trainings_path %></li>
		<li><%= link_to 'Add Positions', positions_path %></li>
	</ul>
</div>
<div id="trainings">
	<div class="techie">
	<h2>Technical Training</h2>
		<% @techie.each do |tech| %>
			<p><%= tech.name %></p>
		<% end %>
	</div>
	<div class="biz">
	<h2>Business Training</h2>
		<% @biz.each do |b| %>
			<p><%= b.name %></p>
		<% end %>
	</div>
<%= render 'form' %>
</div>