<div id="rating_listing">
	<div id="rated">
		<h1>Ratings You Filed</h1>
		<p class="title">Employee</p>
		<p class="title">Rating</p>
		<% @evaluation.each do |e| %>
			<% if e.rater_id == current_employee.id %>
				<p><%= e.emp_name %></p>
				<p><%= e.friendlyScale %></p>
			<% else %>
				
			<% end %>
		<% end %>
		<div id="ratingLink">
			<%= link_to 'Create New Evaluation', new_evaluation_path %>
		</div>
	</div>
	<div id="received">
		<h1>Your Ratings</h1>
		<p class="title">Rater</p>
		<p class="title">Rating</p>
		<% @raters.each do |rate| %>
			<% if current_employee.id == rate.employee_id %>
				<p><%= rate.rater_id %></p>
				<p><%= rate.friendlyScale %></p>
			<% end %>
		<% end %>
	</div>
</div>


