<div id="rating_listing">
	<div id="rated">
		<h1>Ratings You Filed</h1>
		<% @evaluations.each do |e| %>
			<% if current_employee.id == e.rater_id %>
				<p>
					<%= e.emp_name %>
					<%= e.evalScore %>
				</p>
			<% else %>
				You have not rated anyone yet
			<% end %>
		<% end %>
	</div>
	<div id="received">
		<h1>Your Ratings</h1>
		<% @evaluations.each do |e| %>
			<% if current_employee.id == e.employee_id %>
				<p>
					<%= e.rater_id %>
					<%= e.evalScore %>
				</p>
			<% else %>
				You have not been evaluated yet
			<% end %>
		<% end %>
	</div>
	<%= link_to 'New Rating', new_evaluation_path %>
</div>

