<div id="rating_listing">
	<div id="rated">
		<h1>Ratings You Filed</h1>
		<p class="title">Employee</p>
		<p class="title">Rating</p>
		<% @evaluation.each do |e| %>
			<% if e.rater_id == current_employee.id %>
				<p><%= e.emp_name %></p>
				<p><%= e.friendlyScale %></p>
			<% else %>
				
			<% end %>
		<% end %>
		<div id="ratingLink">
			<%= link_to 'Create New Evaluation', new_evaluation_path %>
		</div>
	</div>
	<div id="received">
		<h1>Most Current Rating for <%= current_employee.employee_name %> </h1>
		<% @raters.each do |rate| %>
			<% if current_employee.id == rate.employee_id %>
				<script type="text/javascript">
			  		google.load("visualization", "1", {packages:["gauge"]});
			  		google.setOnLoadCallback(drawChart);
					function drawChart() {
				
						var data = google.visualization.arrayToDataTable([
						  ['Label', 'Value'],
						  ['Performance', <%= rate.per.to_i %>],
						  ['Leadership', <%= rate.lea.to_i %>],
						  ['Management', <%= rate.mgm.to_i %>],
						  ['Competence', <%= rate.com.to_i %>],
						  ['Overall Score', <%= rate.evalScore.to_i %>]
						  
				  
						]);
					
						var options = {
						  width: '100%', height: '100%',
						  greenFrom: 70, greenTo: 100,	  
						  redFrom: 0, redTo: 30,
						  minorTicks: 5
						};
					
						var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
					
						chart.draw(data, options);
					}
				</script>
			<% end %>
		<% end %>
		<div id="chart_div" style="width: 550px; height: 400px; position: absolute; top: 135px; left: 700px;">
	</div>
</div>


