<div id="rating_listing">
	<div id="rated">
		<h1>Ratings You Filed</h1>
		<p class="title">Employee</p>
		<p class="title">Rating</p>
		<% @evaluations.each do |e| %>
			<% if current_employee.id == e.rater_id %>
				<p><%= e.emp_name %></p>
				<p><%= e.friendlyScale %></p>
			<% else %>
				You have not rated anyone yet
			<% end %>
		<% end %>
		<div id="ratingLink">
			<%= link_to 'Create New Evaluation', new_evaluation_path %>
		</div>
	</div>
	<div id="received">
		<h1>Your Ratings</h1>
		<% @rated.each do |e| %>
			<% if current_employee.id == e.employee_id %>
				<p>
					<%= e.rater_id %>
					<%= e.evalScore %>
				</p>
			<% else %>
				You have not been evaluated yet
			<% end %>
		<% end %>
	</div>
</div>


