<div id="eval_listing">
<% @employees.each do |employee| %>
	<% if employee.evaluations.present? %>
		<div id="eval_list">
			<p class="eval_name"><%= employee.employee_name %></p>
			<% @evaluations.each do |e| %>
				<% if e.employee_id == employee.id %>
					<p class="eval_detail">
						<%= e.pos_name %>, 
						<%= e.sdate.strftime("(%b %Y - ") %>
						<%= e.edate.strftime("%y)") %>
				<% end %>
			<% end %>
			<br /><br /></p> 
		</div>
	<% end %>
<% end %>
</div>
<%= render 'form'  %>