<div id="supportnavi">
	<ul>
		<li><%= link_to 'Add Educations', educations_path %></li>
		<li><%= link_to 'Add Skill-Sets', skills_path %></li>
		<li><%= link_to 'Add Trainings', trainings_path %></li>
		<li class="current"><%= link_to 'Add Positions', positions_path %></li>
	</ul>
</div>
<div id="positions">
	<div class="topleft">
	<h2>Sales</h2>
		<% @sales.each do |sale| %>
			<p><%= sale.name %></p>
		<% end %>
  	</div>  
	<div class="topmid">
	<h2>Marketing</h2>
		<% @marketing.each do |mark| %>
			<p><%= mark.name %></p>
		<% end %>
  	</div>
	<div class="topright">
	<h2>Research & Development</h2>
		<% @rnd.each do |rnd| %>
			<p><%= rnd.name %></p>
		<% end %>
  	</div>  
	<div class="botleft">
	<h2>Procurement</h2>
		<% @procurement.each do |pro| %>
			<p><%= pro.name %></p>
		<% end %>
  	</div> 
	<div class="botmid">
	<h2>Human Resources</h2>
		<% @hr.each do |hr| %>
			<p><%= hr.name %></p>
		<% end %>
  	</div>  
	<div class="botright">
	<h2>Finance</h2>
		<% @finance.each do |fin| %>
			<p><%= fin.name %></p>
		<% end %>
  	</div> 
<%= render 'form' %>

</div>    