<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @employee_training.employee_id %>
</p>

<p>
  <strong>Training:</strong>
  <%= @employee_training.training_id %>
</p>

<p>
  <strong>Tdate:</strong>
  <%= @employee_training.tdate %>
</p>

<%= link_to 'Edit', edit_employee_training_path(@employee_training) %> |
<%= link_to 'Back', employee_trainings_path %>
