<div id="search">
	<%= form_tag(employee_skills_path, :method => "get") do %>
	  <%= text_field_tag :search, params[:search], placeholder: "Search Employees" %>
	  <%= submit_tag "Search", :name => nil %>
	  <%= link_to "Reset Search", employee_skills_path %>
	<% end %>
</div>
<div id="emp_listing">
<% @employees.each do |employee| %>
	<% if employee.employee_skills.present? %>
		<div id="indy_list">
			<p class="emp_name"><%= employee.employee_name %></p>
			<% @employee_skills.each do |employee_skill| %>
				<% if employee_skill.employee_id == employee.id %>
					<p class="detail_name"><%= employee_skill.sk_name %>
				<% end %>
			<% end %>
			<br /></p> 
		</div>
	<% end %>
<% end %>
</div>
<%= render 'form'  %>