<div id="skills">
	<div class="leftside">
	<h2>Beginner</h2>
		<% @techbeg.each do |techbeg| %>
			<%= techbeg.name %>
		<% end %>
	<h2>Intermediate</h2>
		<% @techint.each do |techint| %>
			<%= techint.name %>
		<% end %>
	<h2>Advanced</h2>
		<% @techadv.each do |techadv| %>
			<%= techadv.name %>
		<% end %>
	</div>
	<div class="rightside">
	<h2>Beginner</h2>
		<% @nontechbeg.each do |nontechbeg| %>
			<%= nontechbeg.name %>
		<% end %>
	<h2>Intermediate</h2>
		<% @nontechint.each do |nontechint| %>
			<%= nontechint.name %>
		<% end %>
	<h2>Advanced</h2>
		<% @nontechadv.each do |nontechadv| %>
			<%= nontechadv.name %>
		<% end %>
	</div>

<%= render 'form' %>

</div>