<div id="supportnavi">
	<ul>
		<li><%= link_to 'my dashboard', root_path %></li>
		<li><%= link_to 'add educations', educations_path %></li>
		<li class="current"><%= link_to 'add skill-sets', skills_path %></li>
		<li><%= link_to 'add positions', positions_path %></li>
	</ul>
</div>
<div id="skills">
	<div class="leftside">
	<h2>Technical</h2>
		<% @tech.each do |tech| %>
			<p><%= tech.skillName %></p>
		<% end %>
	</div>
	<div class="rightside">
	<h2>Business</h2>
		<% @bizness.each do |biz| %>
			<p><%= biz.skillName %></p>
		<% end %>
	</div>

<%= render 'form' %>

</div>