<% if employee_signed_in? && current_employee.position_id.present? %>
	<div id="supportnavi">
		<ul>
			<% if current_employee.emp_role == "Human Resources" %>
				<li class="current"><%= link_to 'my dashboard', root_path %></li>
				<li><%= link_to 'add educations', educations_path %></li>
				<li><%= link_to 'add skill-sets', skills_path %></li>
				<li><%= link_to 'add positions', positions_path %></li>
			<% else %>
			<% end %>
		</ul>
	</div>
	<div id="charts">
		<%= pie_chart @org_role.group(:role).count %>
		<%= column_chart @org.group(:level).count %>
		<%= bar_chart @org_educations.group(:degree).count %>
		<%= render partial: 'gScript' %>
	</div>
<% elsif employee_signed_in? && current_employee.position_id.nil?  %>
	<div id="thanks">
		<h2>Thank You <%= current_employee.fname.humanize %> for Registering!</h2>
		<div id="center">	
			<p class="announcement">Human Resources has Received Your Request</p>
			<p class="check">We have you registered under the email: <%= current_employee.email %></p>
			<p class="check">Check Back After Access is Granted</p>
		</div>
	<p class="logout_guest"><%= link_to 'logout', destroy_employee_session_path, :method => :delete %></p>
	</div>
<% else %>
	<div id="header">
		<h1><span>HR Promotion</span> DSS</h1>
		<div id="userAuth">
			<div class="register">
				<%= form_for(:employee, :url => registration_path(:employee)) do |f| %>
					<h2>sign-up</h2>
						<p><%= f.text_field :fname, :placeholder => "first name" %>&nbsp;
						<%= f.text_field :lname, :placeholder => "last name" %></p>
						<p><%= f.email_field :email, :placeholder => "youremail@dell.com" %></p>
						<p><%= f.password_field :password, :placeholder => "password", autocomplete: "off" %>&nbsp;
						<%= f.password_field :password_confirmation, :placeholder => "confirm", autocomplete: "off" %></p><br /><br />
						<%= f.submit "join" %>
				<% end %>
			</div>	
			<div class="login">
				<%= form_for(:employee, :url => session_path(:employee)) do |f| %>
				<h2>sign-in</h2>
					<p><%= f.email_field :email, :placeholder => "youremail@dell.com", autofocus: true %></p>
					<p><%= f.password_field :password, :placeholder => "password", autocomplete: "off" %></p><br /><br />
					<%= f.submit "login" %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
