<% if employee_signed_in? %>
<section class= "top-left">
		<h1><%= link_to 'education', educations_path %></h1>
</section>
<section class= "top-right">
		<h1><%= link_to 'skill', skills_path %></h1>
</section>
<section class= "bottom-left">
		<h1><%= link_to 'training', trainings_path %></h1>
</section>
<section class= "bottom-right">
		<h1><%= link_to 'positions', positions_path %></h1>
</section>
<% else %>
<div id="header">
	<h1><span>HR Promotion</span> DSS</h1>
	<div id="userAuth">
		<div class="register">
			<%= form_for(:employee, :url => registration_path(:employee)) do |f| %>
				<h2>sign-up</h2>
					<p><%= f.label :name %></p>
					<p><%= f.text_field :fname %>&nbsp;<%= f.text_field :lname %></p>
					<p><%= f.label :email %></p>
					<p><%= f.email_field :email %></p>
					<p><%= f.label :password %></p>
					<p><%= f.password_field :password, autocomplete: "off" %></p>
					<p><%= f.label :password_comfirmation %></p>
					<p><%= f.password_field :password_confirmation, autocomplete: "off" %></p><br />
					<%= f.submit "join" %>
			<% end %>
		</div>	
		<div class="login">
			<%= form_for(:employee, :url => session_path(:employee)) do |f| %>
			<h2>sign-in</h2>
				<p><%= f.label :email %></p>
				<p><%= f.email_field :email, autofocus: true %></p>

				<p><%= f.label :password %></p>
				<p><%= f.password_field :password, autocomplete: "off" %></p><br />

				<%= f.submit "login" %>
			<% end %>
		</div>
	</div>
</div>
<% end %>
