<% if employee_signed_in? %>
<div id="supportnavi">
	<ul>
		<li><%= link_to 'Add Educations', educations_path %></li>
		<li><%= link_to 'Add Skill-Sets', skills_path %></li>
		<li><%= link_to 'Add Trainings', trainings_path %></li>
		<li><%= link_to 'Add Positions', positions_path %></li>
	</ul>
</div>
<div id="main_content">
	<h1>Reminder List For Mabeena & Anees</h1>
	<p class="task">Finish Evaluation Page</p>
	<p class="t_detail">
		-only show eval employee name, position, dates, and evaluator; if they have access, they can 
		click to view specific eval scores done on that employee.
	</p>
	<p class="task">Search by Employees</p>
	<p class="t_detail">
		-using solr or another gem to add text searching to highlight employees when 
		adding information on the cross over tables.
	</p>
	<p class="task">Promotable canidate wizard</p>
	<p class="t_detail">
		-using wicked wizard gem to allow HR to input different paramaters in a 
		easy to use step form. The result is the rollup page of canidates with their
		scores in relation to matching percentage and evaluation score.
	</p>
	<p class="task">Seed the database</p>
	<p class="t_detail">
		-figure out a way to seed the db without a ton of manual work. We need about 20,000 records 
		total.
	</p>
	<p class="task">Create Dashboard</p>
	<p class="t_detail">
		-simple graphsand charts using chartkick gem
	</p>
	<p class="task">Restricting Permissions</p>
	<p class="t_detail">
		-start restricting access to certain functions such as who can evaluate, what pages can
		people see, what can they do on the pages they see, etc.
	</p>
	<p class="task">Reminder X</p>
	<p class="t_detail">
		-details here; find me in views > home > index.html.erb under paragraph task and detail.
	</p>
	<p class="task">Reminder Y</p>
	<p class="t_detail">
		-details here; find me in views > home > index.html.erb under paragraph task and detail.
	</p>
	<p class="task">Reminder Z</p>
	<p class="t_detail">
		-details here; find me in views > home > index.html.erb under paragraph task and detail.
	</p>
</div>
<% else %>
<div id="header">
	<h1><span>HR Promotion</span> DSS</h1>
	<div id="userAuth">
		<div class="register">
			<%= form_for(:employee, :url => registration_path(:employee)) do |f| %>
				<h2>sign-up</h2>
					<p><%= f.text_field :fname, :placeholder => "first name" %>&nbsp;
					<%= f.text_field :lname, :placeholder => "last name" %></p>
					<p><%= f.email_field :email, :placeholder => "email@dell.com" %></p>
					<p><%= f.password_field :password, :placeholder => "password", autocomplete: "off" %>&nbsp;
					<%= f.password_field :password_confirmation, :placeholder => "confirm", autocomplete: "off" %></p>
					<p><%= f.select :role, Employee::ROLE_TYPES, :prompt => "Role" %>&nbsp;
					<%= f.select :level, Employee::LEVEL_TYPES, :prompt => "Grade" %></p><br />
					<%= f.submit "join" %>
			<% end %>
		</div>	
		<div class="login">
			<%= form_for(:employee, :url => session_path(:employee)) do |f| %>
			<h2>sign-in</h2>
				<p><%= f.email_field :email, :placeholder => "email@dell.com", autofocus: true %></p>
				<p><%= f.password_field :password, :placeholder => "password", autocomplete: "off" %></p><br />
				<%= f.submit "login" %>
			<% end %>
		</div>
	</div>
</div>
<% end %>
