<% if employee_signed_in? %>
<div id="supportnavi">
	<ul>
		<li><%= link_to 'Add Educations', educations_path %></li>
		<li><%= link_to 'Add Skill-Sets', skills_path %></li>
		<li><%= link_to 'Add Trainings', trainings_path %></li>
		<li><%= link_to 'Add Positions', positions_path %></li>
	</ul>
</div>
<section class= "top-left">
	<h1></h1>
</section>
<section class= "top-right">
	<h1></h1>
</section>
<section class= "bottom-left">
	<h1></h1>
</section>
<section class= "bottom-right">
	<h1></h1>
</section>
<% else %>
<div id="header">
	<h1><span>HR Promotion</span> DSS</h1>
	<div id="userAuth">
		<div class="register">
			<%= form_for(:employee, :url => registration_path(:employee)) do |f| %>
				<h2>sign-up</h2>
					<p><%= f.text_field :fname, :placeholder => "first name" %>&nbsp;
					<%= f.text_field :lname, :placeholder => "last name" %></p>
					<p><%= f.email_field :email, :placeholder => "email@dell.com" %></p>
					<p><%= f.password_field :password, :placeholder => "password", autocomplete: "off" %>&nbsp;
					<%= f.password_field :password_confirmation, :placeholder => "confirm", autocomplete: "off" %></p>
					<p><%= f.select :role, Employee::ROLE_TYPES, :prompt => "Role" %>&nbsp;
					<%= f.select :level, Employee::LEVEL_TYPES, :prompt => "Grade" %></p><br />
					<%= f.submit "join" %>
			<% end %>
		</div>	
		<div class="login">
			<%= form_for(:employee, :url => session_path(:employee)) do |f| %>
			<h2>sign-in</h2>
				<p><%= f.email_field :email, :placeholder => "email@dell.com", autofocus: true %></p>
				<p><%= f.password_field :password, :placeholder => "password", autocomplete: "off" %></p><br />
				<%= f.submit "login" %>
			<% end %>
		</div>
	</div>
</div>
<% end %>
