<div id="emp_listing">
<% @employees.each do |employee| %>
	<% if employee.experiences.present? %>
		<div id="indy_list">
			<p class="emp_name"><%= employee.employee_name %></p>
			<% @experiences.each do |experience| %>
				<% if experience.employee_id == employee.id %>
					<p class="detail_name">
						<%= experience.company %>,
						<%= experience.title %><br />
						<%= experience.startdate.strftime("(%b %Y - ") %>
						<%= experience.enddate.strftime("%y)") %>
				<% end %>
			<% end %>
			<br /><br /></p> 
		</div>
	<% end %>
<% end %>
</div>
<%= render 'form'  %>
