<div id="search">
	<%= form_tag(employee_educations_path, :method => "get") do %>
	  <%= text_field_tag :search, params[:search], placeholder: "Search Employees" %>
	  <%= submit_tag "Search", :name => nil %>
	  <%= link_to "Reset Search", employee_educations_path %>
	<% end %>
</div>
<div id="emp_listing">
<% @employees.each do |employee| %>
	<% if employee.employee_educations.present? %>
		<div id="indy_list">
			<p class="emp_name"><%= employee.employee_name %></p>
			<% @employee_educations.each do |employee_education| %>
				<% if employee_education.employee_id == employee.id %>
					<p class="detail_name"><%= employee_education.ed_name %>
				<% end %>
			<% end %>
			<br /><br /></p> 
		</div>
	<% end %>
<% end %>
</div>

<%= render 'form'  %>

