<div id="ged">
	<h1>High School</h1>
	<% @ged.each do |ged| %>
		<p><%= ged.concentration %></p>
	<% end %>
</div>

<div id="bachelor">
	<h1>Bachelor's</h1>
	<% @bachelor.each do |bachelor| %>
		<p><%= bachelor.concentration %></p>
	<% end %>
</div>

<div id="master">
	<h1>Master's</h1>
	<% @master.each do |master| %>
		<p><%= master.concentration %></p>
	<% end %>
</div>

<%= form_for(@education) do |f| %>  
    <%= f.label :degree %>
    <%= f.text_field :degree %>
    <%= f.label :concentration %>
    <%= f.text_field :concentration %>  
    <%= f.submit %>
<% end %>