<!DOCTYPE html>
<html>
<head>
  <title>HR Promotion DSS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if employee_signed_in? %>
	<div id="hr">
		<div class= "navi">
			<div class= "weak">
				<ul>
					<% if current_employee.emp_role == "Human Resources" %>
						<li><%= link_to 'PROMOTION DSS', promotions_path %></li>
						<li><%= link_to 'EVALUATIONS', evaluations_path %></li>
						<li><%= link_to 'SKILLS', employee_skills_path %></li>
						<li><%= link_to 'EDUCATIONS', employee_educations_path %></li>	
					<% elsif current_employee.emp_role == "Manager" %>
						<li><%= link_to 'EVALUATIONS', evaluations_path %></li>
						<li><%= link_to 'SKILLS', employee_skills_path %></li>
					<% elsif current_employee.emp_role == "Supervisor" %>
						<li><%= link_to 'EVALUATIONS', evaluations_path %></li>
						<li><%= link_to 'SKILLS', employee_skills_path %></li>
					<% else %>
						<li><%= link_to 'EVALUATIONS', evaluations_path %></li>
					<% end %>
				</ul>
			</div>
			<div class= "strong">
			<% if employee_signed_in? %>
				<p class="userside">Signed in as <%= current_employee.fname.humanize %> |
				<%= link_to 'logout', destroy_employee_session_path, :method => :delete %> </p>
			<% else %>
			<% end %>
			</div>
		</div>
<% else %>
<% end %>
	<%= yield %>
	</div>
</body>
</html>
